/* Global settings */
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Header */
header {
    height: 25vh;
    background: url(../images/header.jpg) no-repeat center;
    background-size: cover;
}
.blur {
    background: #FAFAFF;
    float: left;
    filter: blur(27px);
    -webkit-filter: blur(27px);
    height: 25vh;
    width: 12em;
    position: absolute;
    margin-top: 3em;
}
.headerText{
    float: right;
    color: #1D5E9A;
    font-family: 'Caveat', cursive;
}

/* Navigation */
nav {
    background-image: linear-gradient(-90deg, #030343, #1d5e9a);
    /*
    background: rgba(3,3,67,1);
    background: -moz-linear-gradient(left, rgba(3,3,67,1) 0%, rgba(29,94,154,1) 19%, rgba(29,94,154,1) 100%);
    background: -webkit-linear-gradient(left, rgba(3,3,67,1) 0%, rgba(29,94,154,1) 19%, rgba(29,94,154,1) 100%);
    background: -o-linear-gradient(left, rgba(3,3,67,1) 0%, rgba(29,94,154,1) 19%, rgba(29,94,154,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,3,67,1) 0%, rgba(29,94,154,1) 19%, rgba(29,94,154,1) 100%);
    background: linear-gradient(to right, rgba(3,3,67,1) 0%, rgba(29,94,154,1) 19%, rgba(29,94,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030343', endColorstr='#1d5e9a', GradientType=1 );*/
    padding: 0 !important;
    overflow: visible !important;
}
nav a {
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
}
nav a:hover {
    color: white;
    border-left: 1px solid #30343F;
    border-right: 1px solid #30343F;
}
.logo {
    float: left;
    position: absolute;
    border: none !important;
}
.logo :hover {
    background: none !important;
    border: none !important;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px #30343F;
}

/* Footer */
footer {
    background: #1D5E9A;
    color: #FAFAFF;
}
footer a:hover {
    text-decoration: none;
    color: #30343F;
}
